:root {
    /* CSS HEX */
    --eerie-black: #181818ff;
    --phthalo-green: #021812;
    --deep-jungle-green: #02564A;
    --platinum: #ebeaeaff;
    --xanadu: #C6CEC8;
    --yellow: #CEB27C;
    --sage: #909e93;
    }
    
    
    /* COLORS */
    .black {
        color: var(--eerie-black);
    }
    
    .dgreen {
        color: var(--phthalo-green);
    }
    
    .teal {
        color: var(--deep-jungle-green);
    }
    
    .white {
        color: var(--platinum);
    }
    
    .lgreen {
        color: var(--xanadu);
    }

    .sage {
        color: var(--sage);
    }

    .gold {
        color: var(--yellow);
    }
    
    /* BACKGROUND COLORS */
    .bg-black {
        background-color: var(--eerie-black);
    }
    
    .bg-dgreen {
        background-color: var(--phthalo-green);
    }
    
    .bg-teal {
        background-color: var(--deep-jungle-green);
    }
    
    .bg-white {
        background-color: var(--platinum);
    }
    
    .bg-lgreen {
        background-color: var(--xanadu);
    }

    .bg-yellow {
        background-color: var(--yellow);
    }

    .bg-sage {
        background-color: var(--sage);
    }

    
    
    
    
    