@font-face {
    font-family: 'RestoraExtraLight';
    src: local('RestoraExtraLight'), url(../fonts/RestoraExtraLight.woff) format('woff');
  }

@font-face {
  font-family: 'Euphorigenic';
  src: local('Euphorigenic'), url(../fonts/euphorigenic.woff) format('woff');
}

@font-face {
  font-family: 'Modesto';
  src: local('Modesto'), url(../fonts/modesto.woff) format('woff');
}

a.page-nav {
  font-family: RestoraExtraLight, serif;
}

p {
    font-family: RestoraExtraLight, serif;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 16px;
}

::placeholder {
  font-family: RestoraExtraLight, serif;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 16px;
}

.rsvp {
  font-family: RestoraExtraLight, serif;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 22px;
    width: 100%;
}


p.modesto {
  font-family: Modesto, serif;
}

p.euphorigenic {
  font-family: Euphorigenic, serif;
}

a.euphorigenic {
  font-family: Euphorigenic, serif;
}

a.modesto {
  font-family: Modesto, serif;
}

.modesto {
  font-family: Modesto, serif;
}


.form-label, .form-check-label{
  font-family: Modesto, serif;
  color: var(--yellow);
  text-align: left;
}