@import "./colors.css";

body {
  background-color: var(--phthalo-green);
}


@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}

a:hover {
  color: var(--sage)!important;
}

.page-nav-image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

a p {
  color: var(--yellow);
  text-decoration: none;
  padding: 0 1rem;
}

.page-nav a {
  text-decoration: none;
  padding: 0 0rem;
}

.page-nav p {
  padding: 0 0rem;
}

a:hover {
  color: var(--sage);
  text-decoration: none;
  transition: ease-in-out 100ms;
}

.navbar-light .navbar-nav .navbar-text a{
  text-decoration: none;
}

.navbar-text {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

a.euphorigenic {
  text-decoration: none;
  width: 11em;
  background-position-y: 0.8em;
}

.moonborder-bg {
  background-image: url('../images/elements/moon-border-top.svg');
  background-size: auto;
  background-repeat: no-repeat;
}

.container-fluid{
  padding-left: 0!important;
  padding-right: 0!important;
}

.main-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0px;
}

.container-bg {
  background-image: url('../images/elements/carousel/7.jpg');
  position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    filter: brightness(3);
    background-size: cover;
    background-repeat: no-repeat;
}

.no-pointers {
  pointer-events: none;
}

.left-col {
  position: fixed;
  height: 100%;
  width: 50%;
  padding-bottom: 2em;
  pointer-events: all;
}

.right-col {
  margin-left: 50%;
  width: 50%;
  flex-grow: 1;
  overflow-y: auto;
}

.border-bottom {
  border-color: var(--phthalo-green)!important;
}

.moons {
  width: 13em;
}

.star {
  width: 3em;
}

html {
  scroll-padding-top: 200px; /* height of sticky header */
}

.vh-90{
  height: 90vh;
}

.carousel-inner {
  max-height: 200px;
  overflow: hidden;
}

.carousel-item img {
  max-width:100%;
  max-height:100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel-indicators {
  display: none;
}


.tl-edges {
  max-width: 100%;
  overflow-x: visible;
}

.headliner {
  padding-top: 0;
  padding-bottom: 0.1rem;
}

.headliner-lm {
  background-color: #C6CEC8!important;
}

.superbig {
  font-size: 7vw;
  line-height: 12vh;
}

.fader-top {
  background: rgb(5,35,26);
  background: linear-gradient(180deg, rgba(5,35,26,1) 11%, rgba(255,255,255,0) 32%);
}

.fader-bottom {
  background: rgb(5,35,26);
  background: linear-gradient(0deg, rgba(5,35,26,1) 8%, rgba(255,255,255,0) 59%);  z-index: 100;
}

.fixed-top-hack{
    position: fixed;
    top: 90px;
    right: 0;
    bottom: 0;
}

.headliner-lm {
  height: 40px;
  top: 0px;
}

.navbar {
  padding-top: 0rem!important;
  padding-bottom: 0rem!important;
  pointer-events: visible;
}

.custom-height {
  height: 800px;
  top: 13vh;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler {
  color: rgb(0 0 0 / 0%);
  border-color: rgb(0 0 0 / 0%);
}

.vignette{
  position:fixed;
  width:100%; height:100%;
  box-shadow:inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
  animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}


.noise {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  pointer-events: none;
  opacity: .65;
}

@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}

.home .navbar-text a{
  text-decoration: none;
  color: var(--platinum);
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-60 {
  width: 60%;
}

.width-10 {
  width: 10%;
}

.special-bottom {
  position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    padding-right: 1.2%!important;
}

.home-nav {
  display: none;
}

.bottom-borders {
  position: fixed;
  bottom: 0px;
  width: 99%;
}

.carousel {
  pointer-events: all;
}


@media only screen and (max-width: 950px) {
  .left-col {
    width: 100%;
    position: relative;
    height: auto;
    display: block;
  }

  .mobile-main-container {
    position: fixed;
    height: 70vh;
    width: 96vw;
  }

  .container-bg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    -webkit-filter: brightness(3);
    filter: brightness(3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -110px;
}

  .home-nav {
    display: block!important;
    pointer-events: all;
    z-index: 1000;
  }

  .bottom-borders {
    position: relative;
  }
  

  .home .navbar-text a{
    text-decoration: none;
    color: var(--platinum);
  }

  .home .navbar-text a:hover {
    text-decoration: none;
    color: var(--sage);
  }
  
  .right-col {
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    margin-left: 0%;
    pointer-events: all!important;
  }

  .superbig {
    font-size: 15vw;
    line-height: 9vh;
  }

  .headliner-lm {
    height: 40px;
    background-color: var(--xanadu)!important;
    z-index: 10000;
    width: 80%;
    margin: 0 auto;
  }
  
  .main-nav {
    top: 0px;
  }

  .custom-height {
    height: 800px;
    top: 100px;
  }

  .top-50 {
    top: 50% !important;
  }

  .width-75 {
    width: 100% !important;
  }


  .right-border {
    /* position: fixed;
    top: 25px;
    z-index: 10000;
    width: 13em;
    right: 8px; */
    pointer-events: none;
  }

  .home-page {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #05231aff 0%, #181818ff 100%);
    position: relative;
    top: -57px;
  }
  

  .left-border {
    /* position: fixed;
    top: 25px;
    z-index: 10000;
    width: 13em;
    left: 0px; */
    pointer-events:none;
  }


  .navbar {
    z-index: 100;
    pointer-events: visible;
  }

  .main-nav{
    display: none;
  }

.navbar-light .navbar-toggler {
  color: rgb(0 0 0 / 0%);
  border-color: rgb(0 0 0 / 0%);
  z-index: 1000;
}

.navbar-collapse {
  box-sizing: initial;
  z-index: 1000;
  box-shadow: -5px 10px 10px #00000047;
}


.navbar-nav {
  padding: 1em 0em;
}

}


.home-page {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #05231aff 0%, #181818ff 100%);
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1177px 478px #FFF , 1998px 463px #FFF , 822px 907px #FFF , 1621px 1062px #FFF , 848px 20px #FFF , 255px 1575px #FFF , 950px 751px #FFF , 708px 664px #FFF , 727px 891px #FFF , 1278px 375px #FFF , 251px 1545px #FFF , 1965px 1968px #FFF , 1243px 267px #FFF , 1167px 204px #FFF , 82px 480px #FFF , 829px 1216px #FFF , 1046px 389px #FFF , 1736px 249px #FFF , 1354px 1648px #FFF , 1071px 887px #FFF , 1309px 1803px #FFF , 528px 998px #FFF , 1725px 839px #FFF , 48px 701px #FFF , 1399px 261px #FFF , 674px 433px #FFF , 1643px 1646px #FFF , 1716px 1752px #FFF , 1191px 278px #FFF , 448px 87px #FFF , 1786px 1107px #FFF , 810px 84px #FFF , 1262px 1762px #FFF , 369px 1226px #FFF , 529px 1482px #FFF , 188px 960px #FFF , 1066px 263px #FFF , 1210px 1775px #FFF , 1826px 683px #FFF , 921px 1624px #FFF , 1409px 1987px #FFF , 1867px 1829px #FFF , 1115px 1980px #FFF , 1537px 899px #FFF , 1759px 1462px #FFF , 694px 298px #FFF , 111px 46px #FFF , 892px 502px #FFF , 1798px 321px #FFF , 1839px 1337px #FFF , 979px 743px #FFF , 337px 696px #FFF , 359px 1227px #FFF , 1061px 1305px #FFF , 1873px 975px #FFF , 1722px 1928px #FFF , 1357px 322px #FFF , 1052px 104px #FFF , 265px 197px #FFF , 104px 1321px #FFF , 258px 1807px #FFF , 1007px 1634px #FFF , 249px 214px #FFF , 1058px 624px #FFF , 939px 612px #FFF , 1898px 674px #FFF , 109px 1707px #FFF , 1829px 1873px #FFF , 1206px 1905px #FFF , 1590px 1860px #FFF , 1162px 1223px #FFF , 471px 819px #FFF , 782px 1529px #FFF , 220px 1674px #FFF , 1204px 704px #FFF , 1406px 284px #FFF , 1555px 679px #FFF , 741px 113px #FFF , 1059px 342px #FFF , 139px 1872px #FFF , 313px 1773px #FFF , 428px 400px #FFF , 957px 1125px #FFF , 52px 809px #FFF , 33px 1689px #FFF , 1113px 897px #FFF , 132px 1098px #FFF , 992px 466px #FFF , 314px 1812px #FFF , 744px 1526px #FFF , 770px 190px #FFF , 1105px 1928px #FFF , 493px 226px #FFF , 739px 153px #FFF , 1959px 552px #FFF , 914px 99px #FFF , 826px 1868px #FFF , 746px 1944px #FFF , 155px 1254px #FFF , 1011px 1853px #FFF , 1890px 1211px #FFF , 1168px 103px #FFF , 1030px 499px #FFF , 1091px 1011px #FFF , 1925px 1863px #FFF , 921px 499px #FFF , 1824px 888px #FFF , 764px 443px #FFF , 1699px 1535px #FFF , 1244px 882px #FFF , 1627px 873px #FFF , 280px 327px #FFF , 79px 188px #FFF , 71px 1465px #FFF , 553px 923px #FFF , 1108px 1857px #FFF , 979px 1212px #FFF , 1438px 250px #FFF , 433px 1451px #FFF , 1087px 1832px #FFF , 1341px 414px #FFF , 321px 404px #FFF , 1557px 1684px #FFF , 771px 1274px #FFF , 750px 536px #FFF , 833px 1343px #FFF , 456px 262px #FFF , 234px 296px #FFF , 966px 1860px #FFF , 1962px 1120px #FFF , 1680px 1196px #FFF , 458px 1078px #FFF , 623px 785px #FFF , 310px 625px #FFF , 59px 1179px #FFF , 934px 19px #FFF , 27px 978px #FFF , 11px 1728px #FFF , 807px 1604px #FFF , 342px 1761px #FFF , 1441px 1823px #FFF , 396px 80px #FFF , 230px 1646px #FFF , 1495px 1602px #FFF , 574px 124px #FFF , 368px 1266px #FFF , 775px 138px #FFF , 1331px 644px #FFF , 149px 1647px #FFF , 1722px 1698px #FFF , 1875px 1898px #FFF , 1886px 320px #FFF , 679px 235px #FFF , 587px 905px #FFF , 623px 35px #FFF , 836px 40px #FFF , 1250px 1580px #FFF , 1884px 1240px #FFF , 824px 1130px #FFF , 1328px 331px #FFF , 1375px 331px #FFF , 1995px 945px #FFF , 220px 1188px #FFF , 1115px 1883px #FFF , 1809px 1860px #FFF , 338px 1655px #FFF , 1984px 416px #FFF , 1436px 786px #FFF , 562px 1591px #FFF , 674px 1179px #FFF , 1458px 506px #FFF , 1698px 1049px #FFF , 944px 435px #FFF , 1215px 1807px #FFF , 781px 1569px #FFF , 1725px 1475px #FFF , 1468px 59px #FFF , 52px 1349px #FFF , 1923px 382px #FFF , 973px 98px #FFF , 1103px 116px #FFF , 342px 1852px #FFF , 1396px 335px #FFF , 1369px 1712px #FFF , 599px 1855px #FFF , 927px 1257px #FFF , 312px 520px #FFF , 1193px 738px #FFF , 1671px 1806px #FFF , 166px 1597px #FFF , 1100px 89px #FFF , 1664px 1078px #FFF , 1122px 1897px #FFF , 493px 380px #FFF , 288px 819px #FFF , 822px 1252px #FFF , 1880px 1510px #FFF , 471px 979px #FFF , 889px 1492px #FFF , 139px 134px #FFF , 1777px 1096px #FFF , 747px 486px #FFF , 1px 956px #FFF , 1682px 101px #FFF , 336px 1334px #FFF , 1321px 476px #FFF , 1983px 85px #FFF , 518px 1935px #FFF , 1682px 1669px #FFF , 706px 1198px #FFF , 1244px 1226px #FFF , 1771px 9px #FFF , 459px 840px #FFF , 1989px 793px #FFF , 1923px 1834px #FFF , 1074px 484px #FFF , 944px 1246px #FFF , 1098px 1623px #FFF , 501px 476px #FFF , 440px 628px #FFF , 1711px 1617px #FFF , 1855px 877px #FFF , 1070px 290px #FFF , 1548px 1424px #FFF , 1924px 1047px #FFF , 811px 398px #FFF , 1821px 827px #FFF , 1654px 236px #FFF , 461px 985px #FFF , 1875px 1760px #FFF , 1347px 3px #FFF , 1147px 1995px #FFF , 206px 1633px #FFF , 739px 783px #FFF , 1100px 1095px #FFF , 1008px 1534px #FFF , 1053px 1980px #FFF , 1193px 1254px #FFF , 1177px 24px #FFF , 1421px 514px #FFF , 1694px 1728px #FFF , 1299px 224px #FFF , 1308px 1408px #FFF , 1400px 1383px #FFF , 1696px 174px #FFF , 1224px 575px #FFF , 1211px 521px #FFF , 1400px 1196px #FFF , 264px 1501px #FFF , 1000px 124px #FFF , 1175px 289px #FFF , 1143px 206px #FFF , 1426px 1451px #FFF , 438px 963px #FFF , 1279px 1566px #FFF , 1569px 1261px #FFF , 1818px 1911px #FFF , 396px 962px #FFF , 806px 882px #FFF , 781px 110px #FFF , 717px 1705px #FFF , 1750px 632px #FFF , 1420px 251px #FFF , 1749px 488px #FFF , 1290px 286px #FFF , 1892px 198px #FFF , 992px 1119px #FFF , 1706px 1064px #FFF , 1295px 1893px #FFF , 1397px 1929px #FFF , 1530px 1288px #FFF , 400px 663px #FFF , 754px 935px #FFF , 521px 1954px #FFF , 1668px 1236px #FFF , 1795px 778px #FFF , 1375px 195px #FFF , 1781px 687px #FFF , 24px 1555px #FFF , 1589px 1994px #FFF , 938px 1172px #FFF , 239px 363px #FFF , 1506px 1973px #FFF , 419px 1306px #FFF , 285px 1378px #FFF , 705px 1357px #FFF , 276px 865px #FFF , 1783px 1043px #FFF , 1960px 1863px #FFF , 1215px 756px #FFF , 1076px 1468px #FFF , 1073px 715px #FFF , 1950px 1373px #FFF , 1695px 156px #FFF , 533px 482px #FFF , 331px 58px #FFF , 680px 1080px #FFF , 1302px 439px #FFF , 66px 1904px #FFF , 1119px 614px #FFF , 2000px 52px #FFF , 1664px 406px #FFF , 1438px 1368px #FFF , 1426px 1400px #FFF , 1793px 951px #FFF , 1073px 1307px #FFF , 840px 465px #FFF , 18px 1864px #FFF , 1885px 528px #FFF , 1048px 4px #FFF , 8px 1917px #FFF , 163px 1589px #FFF , 1042px 292px #FFF , 1396px 166px #FFF , 1459px 1178px #FFF , 1386px 87px #FFF , 1215px 728px #FFF , 1733px 50px #FFF , 1563px 301px #FFF , 1385px 640px #FFF , 1496px 461px #FFF , 453px 1001px #FFF , 847px 1292px #FFF , 624px 302px #FFF , 1040px 911px #FFF , 1409px 1479px #FFF , 654px 1398px #FFF , 1356px 1991px #FFF , 656px 170px #FFF , 287px 1422px #FFF , 118px 1283px #FFF , 277px 1782px #FFF , 1011px 709px #FFF , 1147px 947px #FFF , 298px 1009px #FFF , 1637px 1918px #FFF , 552px 1924px #FFF , 1403px 1526px #FFF , 1729px 852px #FFF , 530px 279px #FFF , 12px 699px #FFF , 1018px 1798px #FFF , 587px 309px #FFF , 881px 253px #FFF , 1184px 163px #FFF , 271px 328px #FFF , 1042px 1075px #FFF , 1828px 1097px #FFF , 153px 1541px #FFF , 1968px 650px #FFF , 562px 607px #FFF , 1416px 1741px #FFF , 305px 809px #FFF , 1023px 1795px #FFF , 560px 826px #FFF , 1838px 531px #FFF , 640px 695px #FFF , 129px 1208px #FFF , 1341px 380px #FFF , 390px 1781px #FFF , 1474px 1827px #FFF , 1661px 1944px #FFF , 1724px 51px #FFF , 1354px 429px #FFF , 1526px 875px #FFF , 227px 1598px #FFF , 153px 485px #FFF , 1791px 1328px #FFF , 1580px 1964px #FFF , 1996px 1936px #FFF , 942px 761px #FFF , 949px 833px #FFF , 1698px 345px #FFF , 161px 1706px #FFF , 330px 908px #FFF , 1130px 912px #FFF , 976px 1727px #FFF , 1083px 1255px #FFF , 1539px 1938px #FFF , 1701px 294px #FFF , 646px 1506px #FFF , 1425px 1290px #FFF , 832px 307px #FFF , 1787px 1446px #FFF , 785px 887px #FFF , 107px 380px #FFF , 44px 1388px #FFF , 688px 1056px #FFF , 265px 635px #FFF , 494px 278px #FFF , 438px 1738px #FFF , 1427px 550px #FFF , 1778px 634px #FFF , 205px 1771px #FFF , 581px 1475px #FFF , 1917px 736px #FFF , 794px 452px #FFF , 832px 320px #FFF , 632px 989px #FFF , 222px 1161px #FFF , 1616px 1135px #FFF , 1227px 1186px #FFF , 334px 419px #FFF , 637px 1229px #FFF , 259px 758px #FFF , 1623px 1497px #FFF , 1518px 1801px #FFF , 1946px 1494px #FFF , 1515px 1327px #FFF , 566px 68px #FFF , 1042px 585px #FFF , 346px 40px #FFF , 604px 1974px #FFF , 1695px 546px #FFF , 58px 87px #FFF , 1276px 1315px #FFF , 1363px 1271px #FFF , 1410px 1742px #FFF , 421px 1890px #FFF , 817px 1399px #FFF , 713px 1005px #FFF , 1399px 403px #FFF , 79px 1177px #FFF , 1099px 89px #FFF , 1267px 401px #FFF , 1195px 305px #FFF , 1528px 1974px #FFF , 338px 329px #FFF , 910px 1957px #FFF , 1041px 454px #FFF , 1631px 1926px #FFF , 18px 1235px #FFF , 1945px 1406px #FFF , 1167px 699px #FFF , 466px 730px #FFF , 1577px 290px #FFF , 1218px 1312px #FFF , 1458px 1349px #FFF , 1283px 1795px #FFF , 1683px 1913px #FFF , 1859px 531px #FFF , 511px 1369px #FFF , 1633px 994px #FFF , 906px 1629px #FFF , 1632px 255px #FFF , 754px 1584px #FFF , 1563px 1426px #FFF , 1063px 278px #FFF , 1364px 476px #FFF , 1295px 597px #FFF , 1053px 1246px #FFF , 1296px 1409px #FFF , 131px 1293px #FFF , 33px 1354px #FFF , 1275px 1446px #FFF , 1813px 1056px #FFF , 1640px 1886px #FFF , 153px 1472px #FFF , 1381px 1370px #FFF , 1203px 1796px #FFF , 994px 493px #FFF , 487px 1219px #FFF , 128px 1838px #FFF , 1779px 1147px #FFF , 1427px 398px #FFF , 1679px 1350px #FFF , 141px 778px #FFF , 653px 624px #FFF , 793px 1197px #FFF , 735px 1978px #FFF , 248px 737px #FFF , 1501px 1715px #FFF , 68px 537px #FFF , 1305px 58px #FFF , 1275px 1255px #FFF , 624px 1366px #FFF , 131px 669px #FFF , 572px 1073px #FFF , 1994px 325px #FFF , 620px 1881px #FFF , 961px 905px #FFF , 865px 699px #FFF , 816px 1416px #FFF , 1611px 1686px #FFF , 1670px 1679px #FFF , 145px 669px #FFF , 196px 506px #FFF , 249px 1226px #FFF , 633px 1042px #FFF , 411px 1604px #FFF , 1480px 196px #FFF , 1300px 1173px #FFF , 1250px 321px #FFF , 1300px 569px #FFF , 1255px 1526px #FFF , 71px 1482px #FFF , 894px 121px #FFF , 1221px 287px #FFF , 1965px 1281px #FFF , 80px 1188px #FFF , 1582px 1966px #FFF , 772px 752px #FFF , 422px 1756px #FFF , 294px 95px #FFF , 1170px 1093px #FFF , 540px 515px #FFF , 966px 1396px #FFF , 414px 828px #FFF , 813px 1768px #FFF , 673px 1991px #FFF , 1554px 1407px #FFF , 1962px 1656px #FFF , 1504px 1245px #FFF , 1363px 1250px #FFF , 24px 1546px #FFF , 758px 833px #FFF , 219px 1024px #FFF , 1995px 158px #FFF , 665px 143px #FFF , 1869px 28px #FFF , 1665px 1038px #FFF , 1776px 17px #FFF , 1376px 323px #FFF , 862px 1337px #FFF , 1822px 1251px #FFF , 932px 1601px #FFF , 374px 670px #FFF , 1901px 851px #FFF , 1808px 1625px #FFF , 593px 1053px #FFF , 1339px 995px #FFF , 1025px 826px #FFF , 992px 1105px #FFF , 57px 658px #FFF , 621px 1652px #FFF , 1781px 1735px #FFF , 1574px 1172px #FFF , 25px 281px #FFF , 1966px 429px #FFF , 1621px 357px #FFF , 1995px 1380px #FFF , 1396px 1890px #FFF , 680px 91px #FFF , 1737px 1822px #FFF , 866px 1304px #FFF , 1342px 1439px #FFF , 1439px 400px #FFF , 1049px 1031px #FFF , 1807px 322px #FFF , 1096px 553px #FFF , 42px 211px #FFF , 548px 135px #FFF , 1852px 1115px #FFF , 844px 1756px #FFF , 342px 475px #FFF , 560px 1636px #FFF , 1786px 1743px #FFF , 1854px 722px #FFF , 1606px 1456px #FFF , 32px 729px #FFF , 1161px 742px #FFF , 1211px 109px #FFF , 38px 1262px #FFF , 1691px 1555px #FFF , 1309px 880px #FFF , 597px 1158px #FFF , 49px 1851px #FFF , 1790px 466px #FFF , 1283px 50px #FFF , 1644px 1961px #FFF , 1842px 96px #FFF , 1869px 1447px #FFF , 1850px 1050px #FFF , 103px 876px #FFF , 1141px 1155px #FFF , 514px 828px #FFF , 914px 1659px #FFF , 713px 452px #FFF , 458px 1555px #FFF , 1635px 1704px #FFF , 1881px 1726px #FFF , 1711px 1723px #FFF , 881px 1158px #FFF , 1273px 550px #FFF , 1313px 1680px #FFF , 727px 1634px #FFF , 329px 46px #FFF , 344px 750px #FFF , 1072px 1437px #FFF , 1462px 158px #FFF , 1349px 1185px #FFF , 263px 1074px #FFF , 966px 649px #FFF , 1725px 1852px #FFF , 840px 596px #FFF , 300px 1260px #FFF , 1326px 1718px #FFF , 1277px 344px #FFF , 59px 623px #FFF , 714px 54px #FFF , 482px 1980px #FFF , 1101px 1813px #FFF , 547px 528px #FFF , 660px 448px #FFF , 579px 1990px #FFF , 1606px 488px #FFF , 411px 581px #FFF , 181px 30px #FFF , 1789px 287px #FFF , 63px 1099px #FFF , 1405px 202px #FFF , 969px 705px #FFF , 1681px 1617px #FFF , 1435px 492px #FFF , 1103px 508px #FFF , 1625px 69px #FFF , 851px 363px #FFF , 583px 603px #FFF , 723px 1276px #FFF , 1033px 1089px #FFF , 359px 1436px #FFF , 1508px 1036px #FFF , 741px 938px #FFF , 959px 1239px #FFF , 536px 832px #FFF , 1739px 185px #FFF , 1589px 1116px #FFF , 957px 1167px #FFF , 1779px 1936px #FFF , 373px 406px #FFF , 824px 599px #FFF , 1081px 1383px #FFF , 1353px 976px #FFF , 57px 1503px #FFF , 463px 1546px #FFF , 581px 501px #FFF , 485px 633px #FFF , 156px 359px #FFF , 388px 1947px #FFF , 768px 285px #FFF , 1955px 434px #FFF , 1884px 648px #FFF , 1436px 617px #FFF , 977px 1070px #FFF , 287px 127px #FFF , 746px 473px #FFF , 115px 655px #FFF , 1387px 447px #FFF , 802px 839px #FFF , 1002px 1825px #FFF , 215px 420px #FFF , 661px 801px #FFF , 994px 1180px #FFF , 1666px 548px #FFF , 723px 1129px #FFF , 1376px 244px #FFF , 167px 1339px #FFF , 713px 1380px #FFF , 1887px 389px #FFF , 1388px 1908px #FFF , 216px 1831px #FFF , 633px 1713px #FFF , 1438px 169px #FFF , 407px 819px #FFF , 994px 633px #FFF , 1945px 59px #FFF , 204px 996px #FFF , 722px 1799px #FFF , 808px 1783px #FFF , 161px 239px #FFF , 1381px 121px #FFF , 56px 1633px #FFF , 660px 1101px #FFF , 1066px 651px #FFF , 323px 780px #FFF , 1858px 689px #FFF , 1022px 1310px #FFF , 1691px 404px #FFF , 798px 53px #FFF , 1354px 1675px #FFF , 119px 1402px #FFF , 1374px 253px #FFF , 655px 822px #FFF , 1081px 1077px #FFF , 1700px 1451px #FFF , 55px 1928px #FFF , 163px 811px #FFF , 497px 387px #FFF , 548px 1136px #FFF , 1580px 565px #FFF , 1183px 505px #FFF , 1877px 48px #FFF , 1669px 1378px #FFF , 1936px 1846px #FFF , 223px 1464px #FFF , 1365px 265px #FFF , 1566px 1393px #FFF , 729px 667px #FFF , 1677px 1913px #FFF , 1922px 100px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1177px 478px #FFF , 1998px 463px #FFF , 822px 907px #FFF , 1621px 1062px #FFF , 848px 20px #FFF , 255px 1575px #FFF , 950px 751px #FFF , 708px 664px #FFF , 727px 891px #FFF , 1278px 375px #FFF , 251px 1545px #FFF , 1965px 1968px #FFF , 1243px 267px #FFF , 1167px 204px #FFF , 82px 480px #FFF , 829px 1216px #FFF , 1046px 389px #FFF , 1736px 249px #FFF , 1354px 1648px #FFF , 1071px 887px #FFF , 1309px 1803px #FFF , 528px 998px #FFF , 1725px 839px #FFF , 48px 701px #FFF , 1399px 261px #FFF , 674px 433px #FFF , 1643px 1646px #FFF , 1716px 1752px #FFF , 1191px 278px #FFF , 448px 87px #FFF , 1786px 1107px #FFF , 810px 84px #FFF , 1262px 1762px #FFF , 369px 1226px #FFF , 529px 1482px #FFF , 188px 960px #FFF , 1066px 263px #FFF , 1210px 1775px #FFF , 1826px 683px #FFF , 921px 1624px #FFF , 1409px 1987px #FFF , 1867px 1829px #FFF , 1115px 1980px #FFF , 1537px 899px #FFF , 1759px 1462px #FFF , 694px 298px #FFF , 111px 46px #FFF , 892px 502px #FFF , 1798px 321px #FFF , 1839px 1337px #FFF , 979px 743px #FFF , 337px 696px #FFF , 359px 1227px #FFF , 1061px 1305px #FFF , 1873px 975px #FFF , 1722px 1928px #FFF , 1357px 322px #FFF , 1052px 104px #FFF , 265px 197px #FFF , 104px 1321px #FFF , 258px 1807px #FFF , 1007px 1634px #FFF , 249px 214px #FFF , 1058px 624px #FFF , 939px 612px #FFF , 1898px 674px #FFF , 109px 1707px #FFF , 1829px 1873px #FFF , 1206px 1905px #FFF , 1590px 1860px #FFF , 1162px 1223px #FFF , 471px 819px #FFF , 782px 1529px #FFF , 220px 1674px #FFF , 1204px 704px #FFF , 1406px 284px #FFF , 1555px 679px #FFF , 741px 113px #FFF , 1059px 342px #FFF , 139px 1872px #FFF , 313px 1773px #FFF , 428px 400px #FFF , 957px 1125px #FFF , 52px 809px #FFF , 33px 1689px #FFF , 1113px 897px #FFF , 132px 1098px #FFF , 992px 466px #FFF , 314px 1812px #FFF , 744px 1526px #FFF , 770px 190px #FFF , 1105px 1928px #FFF , 493px 226px #FFF , 739px 153px #FFF , 1959px 552px #FFF , 914px 99px #FFF , 826px 1868px #FFF , 746px 1944px #FFF , 155px 1254px #FFF , 1011px 1853px #FFF , 1890px 1211px #FFF , 1168px 103px #FFF , 1030px 499px #FFF , 1091px 1011px #FFF , 1925px 1863px #FFF , 921px 499px #FFF , 1824px 888px #FFF , 764px 443px #FFF , 1699px 1535px #FFF , 1244px 882px #FFF , 1627px 873px #FFF , 280px 327px #FFF , 79px 188px #FFF , 71px 1465px #FFF , 553px 923px #FFF , 1108px 1857px #FFF , 979px 1212px #FFF , 1438px 250px #FFF , 433px 1451px #FFF , 1087px 1832px #FFF , 1341px 414px #FFF , 321px 404px #FFF , 1557px 1684px #FFF , 771px 1274px #FFF , 750px 536px #FFF , 833px 1343px #FFF , 456px 262px #FFF , 234px 296px #FFF , 966px 1860px #FFF , 1962px 1120px #FFF , 1680px 1196px #FFF , 458px 1078px #FFF , 623px 785px #FFF , 310px 625px #FFF , 59px 1179px #FFF , 934px 19px #FFF , 27px 978px #FFF , 11px 1728px #FFF , 807px 1604px #FFF , 342px 1761px #FFF , 1441px 1823px #FFF , 396px 80px #FFF , 230px 1646px #FFF , 1495px 1602px #FFF , 574px 124px #FFF , 368px 1266px #FFF , 775px 138px #FFF , 1331px 644px #FFF , 149px 1647px #FFF , 1722px 1698px #FFF , 1875px 1898px #FFF , 1886px 320px #FFF , 679px 235px #FFF , 587px 905px #FFF , 623px 35px #FFF , 836px 40px #FFF , 1250px 1580px #FFF , 1884px 1240px #FFF , 824px 1130px #FFF , 1328px 331px #FFF , 1375px 331px #FFF , 1995px 945px #FFF , 220px 1188px #FFF , 1115px 1883px #FFF , 1809px 1860px #FFF , 338px 1655px #FFF , 1984px 416px #FFF , 1436px 786px #FFF , 562px 1591px #FFF , 674px 1179px #FFF , 1458px 506px #FFF , 1698px 1049px #FFF , 944px 435px #FFF , 1215px 1807px #FFF , 781px 1569px #FFF , 1725px 1475px #FFF , 1468px 59px #FFF , 52px 1349px #FFF , 1923px 382px #FFF , 973px 98px #FFF , 1103px 116px #FFF , 342px 1852px #FFF , 1396px 335px #FFF , 1369px 1712px #FFF , 599px 1855px #FFF , 927px 1257px #FFF , 312px 520px #FFF , 1193px 738px #FFF , 1671px 1806px #FFF , 166px 1597px #FFF , 1100px 89px #FFF , 1664px 1078px #FFF , 1122px 1897px #FFF , 493px 380px #FFF , 288px 819px #FFF , 822px 1252px #FFF , 1880px 1510px #FFF , 471px 979px #FFF , 889px 1492px #FFF , 139px 134px #FFF , 1777px 1096px #FFF , 747px 486px #FFF , 1px 956px #FFF , 1682px 101px #FFF , 336px 1334px #FFF , 1321px 476px #FFF , 1983px 85px #FFF , 518px 1935px #FFF , 1682px 1669px #FFF , 706px 1198px #FFF , 1244px 1226px #FFF , 1771px 9px #FFF , 459px 840px #FFF , 1989px 793px #FFF , 1923px 1834px #FFF , 1074px 484px #FFF , 944px 1246px #FFF , 1098px 1623px #FFF , 501px 476px #FFF , 440px 628px #FFF , 1711px 1617px #FFF , 1855px 877px #FFF , 1070px 290px #FFF , 1548px 1424px #FFF , 1924px 1047px #FFF , 811px 398px #FFF , 1821px 827px #FFF , 1654px 236px #FFF , 461px 985px #FFF , 1875px 1760px #FFF , 1347px 3px #FFF , 1147px 1995px #FFF , 206px 1633px #FFF , 739px 783px #FFF , 1100px 1095px #FFF , 1008px 1534px #FFF , 1053px 1980px #FFF , 1193px 1254px #FFF , 1177px 24px #FFF , 1421px 514px #FFF , 1694px 1728px #FFF , 1299px 224px #FFF , 1308px 1408px #FFF , 1400px 1383px #FFF , 1696px 174px #FFF , 1224px 575px #FFF , 1211px 521px #FFF , 1400px 1196px #FFF , 264px 1501px #FFF , 1000px 124px #FFF , 1175px 289px #FFF , 1143px 206px #FFF , 1426px 1451px #FFF , 438px 963px #FFF , 1279px 1566px #FFF , 1569px 1261px #FFF , 1818px 1911px #FFF , 396px 962px #FFF , 806px 882px #FFF , 781px 110px #FFF , 717px 1705px #FFF , 1750px 632px #FFF , 1420px 251px #FFF , 1749px 488px #FFF , 1290px 286px #FFF , 1892px 198px #FFF , 992px 1119px #FFF , 1706px 1064px #FFF , 1295px 1893px #FFF , 1397px 1929px #FFF , 1530px 1288px #FFF , 400px 663px #FFF , 754px 935px #FFF , 521px 1954px #FFF , 1668px 1236px #FFF , 1795px 778px #FFF , 1375px 195px #FFF , 1781px 687px #FFF , 24px 1555px #FFF , 1589px 1994px #FFF , 938px 1172px #FFF , 239px 363px #FFF , 1506px 1973px #FFF , 419px 1306px #FFF , 285px 1378px #FFF , 705px 1357px #FFF , 276px 865px #FFF , 1783px 1043px #FFF , 1960px 1863px #FFF , 1215px 756px #FFF , 1076px 1468px #FFF , 1073px 715px #FFF , 1950px 1373px #FFF , 1695px 156px #FFF , 533px 482px #FFF , 331px 58px #FFF , 680px 1080px #FFF , 1302px 439px #FFF , 66px 1904px #FFF , 1119px 614px #FFF , 2000px 52px #FFF , 1664px 406px #FFF , 1438px 1368px #FFF , 1426px 1400px #FFF , 1793px 951px #FFF , 1073px 1307px #FFF , 840px 465px #FFF , 18px 1864px #FFF , 1885px 528px #FFF , 1048px 4px #FFF , 8px 1917px #FFF , 163px 1589px #FFF , 1042px 292px #FFF , 1396px 166px #FFF , 1459px 1178px #FFF , 1386px 87px #FFF , 1215px 728px #FFF , 1733px 50px #FFF , 1563px 301px #FFF , 1385px 640px #FFF , 1496px 461px #FFF , 453px 1001px #FFF , 847px 1292px #FFF , 624px 302px #FFF , 1040px 911px #FFF , 1409px 1479px #FFF , 654px 1398px #FFF , 1356px 1991px #FFF , 656px 170px #FFF , 287px 1422px #FFF , 118px 1283px #FFF , 277px 1782px #FFF , 1011px 709px #FFF , 1147px 947px #FFF , 298px 1009px #FFF , 1637px 1918px #FFF , 552px 1924px #FFF , 1403px 1526px #FFF , 1729px 852px #FFF , 530px 279px #FFF , 12px 699px #FFF , 1018px 1798px #FFF , 587px 309px #FFF , 881px 253px #FFF , 1184px 163px #FFF , 271px 328px #FFF , 1042px 1075px #FFF , 1828px 1097px #FFF , 153px 1541px #FFF , 1968px 650px #FFF , 562px 607px #FFF , 1416px 1741px #FFF , 305px 809px #FFF , 1023px 1795px #FFF , 560px 826px #FFF , 1838px 531px #FFF , 640px 695px #FFF , 129px 1208px #FFF , 1341px 380px #FFF , 390px 1781px #FFF , 1474px 1827px #FFF , 1661px 1944px #FFF , 1724px 51px #FFF , 1354px 429px #FFF , 1526px 875px #FFF , 227px 1598px #FFF , 153px 485px #FFF , 1791px 1328px #FFF , 1580px 1964px #FFF , 1996px 1936px #FFF , 942px 761px #FFF , 949px 833px #FFF , 1698px 345px #FFF , 161px 1706px #FFF , 330px 908px #FFF , 1130px 912px #FFF , 976px 1727px #FFF , 1083px 1255px #FFF , 1539px 1938px #FFF , 1701px 294px #FFF , 646px 1506px #FFF , 1425px 1290px #FFF , 832px 307px #FFF , 1787px 1446px #FFF , 785px 887px #FFF , 107px 380px #FFF , 44px 1388px #FFF , 688px 1056px #FFF , 265px 635px #FFF , 494px 278px #FFF , 438px 1738px #FFF , 1427px 550px #FFF , 1778px 634px #FFF , 205px 1771px #FFF , 581px 1475px #FFF , 1917px 736px #FFF , 794px 452px #FFF , 832px 320px #FFF , 632px 989px #FFF , 222px 1161px #FFF , 1616px 1135px #FFF , 1227px 1186px #FFF , 334px 419px #FFF , 637px 1229px #FFF , 259px 758px #FFF , 1623px 1497px #FFF , 1518px 1801px #FFF , 1946px 1494px #FFF , 1515px 1327px #FFF , 566px 68px #FFF , 1042px 585px #FFF , 346px 40px #FFF , 604px 1974px #FFF , 1695px 546px #FFF , 58px 87px #FFF , 1276px 1315px #FFF , 1363px 1271px #FFF , 1410px 1742px #FFF , 421px 1890px #FFF , 817px 1399px #FFF , 713px 1005px #FFF , 1399px 403px #FFF , 79px 1177px #FFF , 1099px 89px #FFF , 1267px 401px #FFF , 1195px 305px #FFF , 1528px 1974px #FFF , 338px 329px #FFF , 910px 1957px #FFF , 1041px 454px #FFF , 1631px 1926px #FFF , 18px 1235px #FFF , 1945px 1406px #FFF , 1167px 699px #FFF , 466px 730px #FFF , 1577px 290px #FFF , 1218px 1312px #FFF , 1458px 1349px #FFF , 1283px 1795px #FFF , 1683px 1913px #FFF , 1859px 531px #FFF , 511px 1369px #FFF , 1633px 994px #FFF , 906px 1629px #FFF , 1632px 255px #FFF , 754px 1584px #FFF , 1563px 1426px #FFF , 1063px 278px #FFF , 1364px 476px #FFF , 1295px 597px #FFF , 1053px 1246px #FFF , 1296px 1409px #FFF , 131px 1293px #FFF , 33px 1354px #FFF , 1275px 1446px #FFF , 1813px 1056px #FFF , 1640px 1886px #FFF , 153px 1472px #FFF , 1381px 1370px #FFF , 1203px 1796px #FFF , 994px 493px #FFF , 487px 1219px #FFF , 128px 1838px #FFF , 1779px 1147px #FFF , 1427px 398px #FFF , 1679px 1350px #FFF , 141px 778px #FFF , 653px 624px #FFF , 793px 1197px #FFF , 735px 1978px #FFF , 248px 737px #FFF , 1501px 1715px #FFF , 68px 537px #FFF , 1305px 58px #FFF , 1275px 1255px #FFF , 624px 1366px #FFF , 131px 669px #FFF , 572px 1073px #FFF , 1994px 325px #FFF , 620px 1881px #FFF , 961px 905px #FFF , 865px 699px #FFF , 816px 1416px #FFF , 1611px 1686px #FFF , 1670px 1679px #FFF , 145px 669px #FFF , 196px 506px #FFF , 249px 1226px #FFF , 633px 1042px #FFF , 411px 1604px #FFF , 1480px 196px #FFF , 1300px 1173px #FFF , 1250px 321px #FFF , 1300px 569px #FFF , 1255px 1526px #FFF , 71px 1482px #FFF , 894px 121px #FFF , 1221px 287px #FFF , 1965px 1281px #FFF , 80px 1188px #FFF , 1582px 1966px #FFF , 772px 752px #FFF , 422px 1756px #FFF , 294px 95px #FFF , 1170px 1093px #FFF , 540px 515px #FFF , 966px 1396px #FFF , 414px 828px #FFF , 813px 1768px #FFF , 673px 1991px #FFF , 1554px 1407px #FFF , 1962px 1656px #FFF , 1504px 1245px #FFF , 1363px 1250px #FFF , 24px 1546px #FFF , 758px 833px #FFF , 219px 1024px #FFF , 1995px 158px #FFF , 665px 143px #FFF , 1869px 28px #FFF , 1665px 1038px #FFF , 1776px 17px #FFF , 1376px 323px #FFF , 862px 1337px #FFF , 1822px 1251px #FFF , 932px 1601px #FFF , 374px 670px #FFF , 1901px 851px #FFF , 1808px 1625px #FFF , 593px 1053px #FFF , 1339px 995px #FFF , 1025px 826px #FFF , 992px 1105px #FFF , 57px 658px #FFF , 621px 1652px #FFF , 1781px 1735px #FFF , 1574px 1172px #FFF , 25px 281px #FFF , 1966px 429px #FFF , 1621px 357px #FFF , 1995px 1380px #FFF , 1396px 1890px #FFF , 680px 91px #FFF , 1737px 1822px #FFF , 866px 1304px #FFF , 1342px 1439px #FFF , 1439px 400px #FFF , 1049px 1031px #FFF , 1807px 322px #FFF , 1096px 553px #FFF , 42px 211px #FFF , 548px 135px #FFF , 1852px 1115px #FFF , 844px 1756px #FFF , 342px 475px #FFF , 560px 1636px #FFF , 1786px 1743px #FFF , 1854px 722px #FFF , 1606px 1456px #FFF , 32px 729px #FFF , 1161px 742px #FFF , 1211px 109px #FFF , 38px 1262px #FFF , 1691px 1555px #FFF , 1309px 880px #FFF , 597px 1158px #FFF , 49px 1851px #FFF , 1790px 466px #FFF , 1283px 50px #FFF , 1644px 1961px #FFF , 1842px 96px #FFF , 1869px 1447px #FFF , 1850px 1050px #FFF , 103px 876px #FFF , 1141px 1155px #FFF , 514px 828px #FFF , 914px 1659px #FFF , 713px 452px #FFF , 458px 1555px #FFF , 1635px 1704px #FFF , 1881px 1726px #FFF , 1711px 1723px #FFF , 881px 1158px #FFF , 1273px 550px #FFF , 1313px 1680px #FFF , 727px 1634px #FFF , 329px 46px #FFF , 344px 750px #FFF , 1072px 1437px #FFF , 1462px 158px #FFF , 1349px 1185px #FFF , 263px 1074px #FFF , 966px 649px #FFF , 1725px 1852px #FFF , 840px 596px #FFF , 300px 1260px #FFF , 1326px 1718px #FFF , 1277px 344px #FFF , 59px 623px #FFF , 714px 54px #FFF , 482px 1980px #FFF , 1101px 1813px #FFF , 547px 528px #FFF , 660px 448px #FFF , 579px 1990px #FFF , 1606px 488px #FFF , 411px 581px #FFF , 181px 30px #FFF , 1789px 287px #FFF , 63px 1099px #FFF , 1405px 202px #FFF , 969px 705px #FFF , 1681px 1617px #FFF , 1435px 492px #FFF , 1103px 508px #FFF , 1625px 69px #FFF , 851px 363px #FFF , 583px 603px #FFF , 723px 1276px #FFF , 1033px 1089px #FFF , 359px 1436px #FFF , 1508px 1036px #FFF , 741px 938px #FFF , 959px 1239px #FFF , 536px 832px #FFF , 1739px 185px #FFF , 1589px 1116px #FFF , 957px 1167px #FFF , 1779px 1936px #FFF , 373px 406px #FFF , 824px 599px #FFF , 1081px 1383px #FFF , 1353px 976px #FFF , 57px 1503px #FFF , 463px 1546px #FFF , 581px 501px #FFF , 485px 633px #FFF , 156px 359px #FFF , 388px 1947px #FFF , 768px 285px #FFF , 1955px 434px #FFF , 1884px 648px #FFF , 1436px 617px #FFF , 977px 1070px #FFF , 287px 127px #FFF , 746px 473px #FFF , 115px 655px #FFF , 1387px 447px #FFF , 802px 839px #FFF , 1002px 1825px #FFF , 215px 420px #FFF , 661px 801px #FFF , 994px 1180px #FFF , 1666px 548px #FFF , 723px 1129px #FFF , 1376px 244px #FFF , 167px 1339px #FFF , 713px 1380px #FFF , 1887px 389px #FFF , 1388px 1908px #FFF , 216px 1831px #FFF , 633px 1713px #FFF , 1438px 169px #FFF , 407px 819px #FFF , 994px 633px #FFF , 1945px 59px #FFF , 204px 996px #FFF , 722px 1799px #FFF , 808px 1783px #FFF , 161px 239px #FFF , 1381px 121px #FFF , 56px 1633px #FFF , 660px 1101px #FFF , 1066px 651px #FFF , 323px 780px #FFF , 1858px 689px #FFF , 1022px 1310px #FFF , 1691px 404px #FFF , 798px 53px #FFF , 1354px 1675px #FFF , 119px 1402px #FFF , 1374px 253px #FFF , 655px 822px #FFF , 1081px 1077px #FFF , 1700px 1451px #FFF , 55px 1928px #FFF , 163px 811px #FFF , 497px 387px #FFF , 548px 1136px #FFF , 1580px 565px #FFF , 1183px 505px #FFF , 1877px 48px #FFF , 1669px 1378px #FFF , 1936px 1846px #FFF , 223px 1464px #FFF , 1365px 265px #FFF , 1566px 1393px #FFF , 729px 667px #FFF , 1677px 1913px #FFF , 1922px 100px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 353px 1982px #FFF , 1404px 816px #FFF , 1087px 654px #FFF , 2px 1122px #FFF , 1877px 1931px #FFF , 1244px 972px #FFF , 1493px 1097px #FFF , 853px 594px #FFF , 858px 953px #FFF , 503px 1804px #FFF , 664px 1986px #FFF , 887px 607px #FFF , 1875px 1468px #FFF , 708px 774px #FFF , 1618px 207px #FFF , 1997px 540px #FFF , 1358px 292px #FFF , 1561px 570px #FFF , 692px 1905px #FFF , 1717px 1555px #FFF , 1px 1767px #FFF , 326px 1459px #FFF , 1289px 1619px #FFF , 1197px 1326px #FFF , 616px 308px #FFF , 658px 32px #FFF , 1883px 1530px #FFF , 107px 678px #FFF , 1043px 1419px #FFF , 62px 449px #FFF , 1893px 44px #FFF , 783px 1827px #FFF , 1782px 374px #FFF , 225px 626px #FFF , 441px 845px #FFF , 1006px 1756px #FFF , 1420px 1586px #FFF , 412px 1881px #FFF , 93px 1605px #FFF , 1170px 556px #FFF , 442px 659px #FFF , 1537px 412px #FFF , 1243px 1086px #FFF , 499px 1369px #FFF , 1674px 1961px #FFF , 305px 488px #FFF , 1921px 813px #FFF , 1715px 801px #FFF , 336px 499px #FFF , 577px 1501px #FFF , 1567px 1173px #FFF , 1226px 1373px #FFF , 1922px 179px #FFF , 514px 935px #FFF , 1753px 352px #FFF , 1889px 83px #FFF , 1839px 1193px #FFF , 996px 799px #FFF , 398px 49px #FFF , 148px 559px #FFF , 826px 1204px #FFF , 1407px 764px #FFF , 1262px 557px #FFF , 992px 371px #FFF , 500px 1585px #FFF , 325px 1948px #FFF , 1805px 789px #FFF , 1232px 1363px #FFF , 790px 1394px #FFF , 558px 1144px #FFF , 1894px 1057px #FFF , 1553px 1829px #FFF , 924px 1429px #FFF , 750px 132px #FFF , 730px 710px #FFF , 1016px 1449px #FFF , 365px 1953px #FFF , 1602px 23px #FFF , 1208px 695px #FFF , 1688px 62px #FFF , 1224px 223px #FFF , 9px 1127px #FFF , 1604px 442px #FFF , 1765px 1416px #FFF , 1190px 481px #FFF , 1294px 316px #FFF , 321px 665px #FFF , 1380px 554px #FFF , 377px 1733px #FFF , 1660px 51px #FFF , 1577px 1069px #FFF , 184px 320px #FFF , 1907px 566px #FFF , 613px 744px #FFF , 786px 619px #FFF , 331px 153px #FFF , 727px 304px #FFF , 1420px 130px #FFF , 814px 749px #FFF , 1833px 731px #FFF , 1046px 493px #FFF , 1396px 614px #FFF , 1732px 1561px #FFF , 532px 1971px #FFF , 895px 1768px #FFF , 336px 1033px #FFF , 469px 1372px #FFF , 405px 1763px #FFF , 225px 279px #FFF , 198px 906px #FFF , 184px 1816px #FFF , 1341px 451px #FFF , 954px 1083px #FFF , 860px 1567px #FFF , 1836px 1180px #FFF , 566px 236px #FFF , 541px 718px #FFF , 560px 3px #FFF , 1257px 2000px #FFF , 1352px 237px #FFF , 189px 1597px #FFF , 1486px 1705px #FFF , 947px 682px #FFF , 211px 93px #FFF , 1469px 1436px #FFF , 566px 1250px #FFF , 775px 1617px #FFF , 714px 1166px #FFF , 1454px 781px #FFF , 243px 703px #FFF , 757px 1724px #FFF , 1839px 1102px #FFF , 1266px 173px #FFF , 509px 585px #FFF , 241px 300px #FFF , 1217px 1307px #FFF , 1114px 1681px #FFF , 1254px 1380px #FFF , 1303px 868px #FFF , 83px 1017px #FFF , 986px 812px #FFF , 977px 148px #FFF , 1600px 441px #FFF , 859px 360px #FFF , 887px 322px #FFF , 609px 670px #FFF , 939px 1447px #FFF , 1827px 661px #FFF , 175px 178px #FFF , 1965px 1507px #FFF , 818px 1597px #FFF , 55px 207px #FFF , 773px 1868px #FFF , 889px 33px #FFF , 410px 372px #FFF , 1140px 858px #FFF , 1192px 223px #FFF , 1259px 1027px #FFF , 1128px 1783px #FFF , 745px 1354px #FFF , 486px 1918px #FFF , 1974px 70px #FFF , 1374px 1885px #FFF , 760px 1311px #FFF , 1705px 932px #FFF , 355px 102px #FFF , 1414px 537px #FFF , 1381px 699px #FFF , 1597px 244px #FFF , 1350px 1324px #FFF , 1055px 214px #FFF , 715px 894px #FFF , 1707px 550px #FFF , 222px 1687px #FFF , 1389px 1846px #FFF , 183px 1642px #FFF , 1859px 708px #FFF , 324px 224px #FFF , 721px 1733px #FFF , 379px 876px #FFF , 484px 1434px #FFF , 1451px 27px #FFF , 1843px 795px #FFF , 730px 1952px #FFF , 678px 339px #FFF , 440px 1269px #FFF , 178px 803px #FFF , 1218px 246px #FFF , 1657px 204px #FFF , 1993px 804px #FFF , 1213px 131px #FFF , 1299px 668px #FFF , 1578px 556px #FFF , 916px 520px #FFF , 1303px 1567px #FFF , 1334px 1157px #FFF , 177px 653px #FFF , 1055px 236px #FFF , 1612px 1304px #FFF , 478px 555px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 353px 1982px #FFF , 1404px 816px #FFF , 1087px 654px #FFF , 2px 1122px #FFF , 1877px 1931px #FFF , 1244px 972px #FFF , 1493px 1097px #FFF , 853px 594px #FFF , 858px 953px #FFF , 503px 1804px #FFF , 664px 1986px #FFF , 887px 607px #FFF , 1875px 1468px #FFF , 708px 774px #FFF , 1618px 207px #FFF , 1997px 540px #FFF , 1358px 292px #FFF , 1561px 570px #FFF , 692px 1905px #FFF , 1717px 1555px #FFF , 1px 1767px #FFF , 326px 1459px #FFF , 1289px 1619px #FFF , 1197px 1326px #FFF , 616px 308px #FFF , 658px 32px #FFF , 1883px 1530px #FFF , 107px 678px #FFF , 1043px 1419px #FFF , 62px 449px #FFF , 1893px 44px #FFF , 783px 1827px #FFF , 1782px 374px #FFF , 225px 626px #FFF , 441px 845px #FFF , 1006px 1756px #FFF , 1420px 1586px #FFF , 412px 1881px #FFF , 93px 1605px #FFF , 1170px 556px #FFF , 442px 659px #FFF , 1537px 412px #FFF , 1243px 1086px #FFF , 499px 1369px #FFF , 1674px 1961px #FFF , 305px 488px #FFF , 1921px 813px #FFF , 1715px 801px #FFF , 336px 499px #FFF , 577px 1501px #FFF , 1567px 1173px #FFF , 1226px 1373px #FFF , 1922px 179px #FFF , 514px 935px #FFF , 1753px 352px #FFF , 1889px 83px #FFF , 1839px 1193px #FFF , 996px 799px #FFF , 398px 49px #FFF , 148px 559px #FFF , 826px 1204px #FFF , 1407px 764px #FFF , 1262px 557px #FFF , 992px 371px #FFF , 500px 1585px #FFF , 325px 1948px #FFF , 1805px 789px #FFF , 1232px 1363px #FFF , 790px 1394px #FFF , 558px 1144px #FFF , 1894px 1057px #FFF , 1553px 1829px #FFF , 924px 1429px #FFF , 750px 132px #FFF , 730px 710px #FFF , 1016px 1449px #FFF , 365px 1953px #FFF , 1602px 23px #FFF , 1208px 695px #FFF , 1688px 62px #FFF , 1224px 223px #FFF , 9px 1127px #FFF , 1604px 442px #FFF , 1765px 1416px #FFF , 1190px 481px #FFF , 1294px 316px #FFF , 321px 665px #FFF , 1380px 554px #FFF , 377px 1733px #FFF , 1660px 51px #FFF , 1577px 1069px #FFF , 184px 320px #FFF , 1907px 566px #FFF , 613px 744px #FFF , 786px 619px #FFF , 331px 153px #FFF , 727px 304px #FFF , 1420px 130px #FFF , 814px 749px #FFF , 1833px 731px #FFF , 1046px 493px #FFF , 1396px 614px #FFF , 1732px 1561px #FFF , 532px 1971px #FFF , 895px 1768px #FFF , 336px 1033px #FFF , 469px 1372px #FFF , 405px 1763px #FFF , 225px 279px #FFF , 198px 906px #FFF , 184px 1816px #FFF , 1341px 451px #FFF , 954px 1083px #FFF , 860px 1567px #FFF , 1836px 1180px #FFF , 566px 236px #FFF , 541px 718px #FFF , 560px 3px #FFF , 1257px 2000px #FFF , 1352px 237px #FFF , 189px 1597px #FFF , 1486px 1705px #FFF , 947px 682px #FFF , 211px 93px #FFF , 1469px 1436px #FFF , 566px 1250px #FFF , 775px 1617px #FFF , 714px 1166px #FFF , 1454px 781px #FFF , 243px 703px #FFF , 757px 1724px #FFF , 1839px 1102px #FFF , 1266px 173px #FFF , 509px 585px #FFF , 241px 300px #FFF , 1217px 1307px #FFF , 1114px 1681px #FFF , 1254px 1380px #FFF , 1303px 868px #FFF , 83px 1017px #FFF , 986px 812px #FFF , 977px 148px #FFF , 1600px 441px #FFF , 859px 360px #FFF , 887px 322px #FFF , 609px 670px #FFF , 939px 1447px #FFF , 1827px 661px #FFF , 175px 178px #FFF , 1965px 1507px #FFF , 818px 1597px #FFF , 55px 207px #FFF , 773px 1868px #FFF , 889px 33px #FFF , 410px 372px #FFF , 1140px 858px #FFF , 1192px 223px #FFF , 1259px 1027px #FFF , 1128px 1783px #FFF , 745px 1354px #FFF , 486px 1918px #FFF , 1974px 70px #FFF , 1374px 1885px #FFF , 760px 1311px #FFF , 1705px 932px #FFF , 355px 102px #FFF , 1414px 537px #FFF , 1381px 699px #FFF , 1597px 244px #FFF , 1350px 1324px #FFF , 1055px 214px #FFF , 715px 894px #FFF , 1707px 550px #FFF , 222px 1687px #FFF , 1389px 1846px #FFF , 183px 1642px #FFF , 1859px 708px #FFF , 324px 224px #FFF , 721px 1733px #FFF , 379px 876px #FFF , 484px 1434px #FFF , 1451px 27px #FFF , 1843px 795px #FFF , 730px 1952px #FFF , 678px 339px #FFF , 440px 1269px #FFF , 178px 803px #FFF , 1218px 246px #FFF , 1657px 204px #FFF , 1993px 804px #FFF , 1213px 131px #FFF , 1299px 668px #FFF , 1578px 556px #FFF , 916px 520px #FFF , 1303px 1567px #FFF , 1334px 1157px #FFF , 177px 653px #FFF , 1055px 236px #FFF , 1612px 1304px #FFF , 478px 555px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 174px 206px #FFF , 1456px 97px #FFF , 761px 1453px #FFF , 110px 25px #FFF , 1733px 1019px #FFF , 172px 1658px #FFF , 217px 569px #FFF , 1250px 148px #FFF , 605px 619px #FFF , 1166px 555px #FFF , 1102px 1372px #FFF , 1058px 1660px #FFF , 220px 1087px #FFF , 1061px 594px #FFF , 122px 416px #FFF , 144px 292px #FFF , 1448px 458px #FFF , 292px 414px #FFF , 1162px 1570px #FFF , 1942px 1445px #FFF , 973px 1079px #FFF , 320px 1210px #FFF , 1345px 123px #FFF , 220px 404px #FFF , 253px 1543px #FFF , 325px 1172px #FFF , 414px 1180px #FFF , 637px 967px #FFF , 1082px 660px #FFF , 1285px 1396px #FFF , 874px 1592px #FFF , 1173px 1388px #FFF , 1154px 738px #FFF , 826px 1326px #FFF , 1158px 1100px #FFF , 1581px 1705px #FFF , 1402px 977px #FFF , 1357px 573px #FFF , 387px 852px #FFF , 864px 1180px #FFF , 740px 1640px #FFF , 1622px 798px #FFF , 469px 311px #FFF , 827px 432px #FFF , 1880px 461px #FFF , 1313px 1322px #FFF , 1071px 954px #FFF , 503px 1141px #FFF , 838px 138px #FFF , 1608px 973px #FFF , 295px 873px #FFF , 224px 589px #FFF , 1049px 186px #FFF , 1441px 1239px #FFF , 1796px 58px #FFF , 403px 1119px #FFF , 345px 1791px #FFF , 1621px 833px #FFF , 517px 1689px #FFF , 1978px 1814px #FFF , 1760px 1898px #FFF , 1815px 125px #FFF , 812px 184px #FFF , 106px 1263px #FFF , 1483px 1333px #FFF , 56px 1653px #FFF , 1182px 1376px #FFF , 372px 813px #FFF , 1846px 1550px #FFF , 259px 733px #FFF , 90px 509px #FFF , 1887px 1967px #FFF , 798px 1685px #FFF , 695px 1832px #FFF , 1440px 1268px #FFF , 831px 512px #FFF , 1766px 1738px #FFF , 593px 1774px #FFF , 845px 1258px #FFF , 1889px 738px #FFF , 1147px 973px #FFF , 1385px 523px #FFF , 218px 1459px #FFF , 603px 1890px #FFF , 1877px 175px #FFF , 468px 1945px #FFF , 642px 207px #FFF , 136px 1099px #FFF , 1736px 869px #FFF , 1548px 631px #FFF , 653px 1760px #FFF , 872px 207px #FFF , 9px 1218px #FFF , 1651px 22px #FFF , 1402px 1154px #FFF , 404px 773px #FFF , 1519px 1124px #FFF , 1216px 63px #FFF , 1059px 1506px #FFF , 1458px 11px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 174px 206px #FFF , 1456px 97px #FFF , 761px 1453px #FFF , 110px 25px #FFF , 1733px 1019px #FFF , 172px 1658px #FFF , 217px 569px #FFF , 1250px 148px #FFF , 605px 619px #FFF , 1166px 555px #FFF , 1102px 1372px #FFF , 1058px 1660px #FFF , 220px 1087px #FFF , 1061px 594px #FFF , 122px 416px #FFF , 144px 292px #FFF , 1448px 458px #FFF , 292px 414px #FFF , 1162px 1570px #FFF , 1942px 1445px #FFF , 973px 1079px #FFF , 320px 1210px #FFF , 1345px 123px #FFF , 220px 404px #FFF , 253px 1543px #FFF , 325px 1172px #FFF , 414px 1180px #FFF , 637px 967px #FFF , 1082px 660px #FFF , 1285px 1396px #FFF , 874px 1592px #FFF , 1173px 1388px #FFF , 1154px 738px #FFF , 826px 1326px #FFF , 1158px 1100px #FFF , 1581px 1705px #FFF , 1402px 977px #FFF , 1357px 573px #FFF , 387px 852px #FFF , 864px 1180px #FFF , 740px 1640px #FFF , 1622px 798px #FFF , 469px 311px #FFF , 827px 432px #FFF , 1880px 461px #FFF , 1313px 1322px #FFF , 1071px 954px #FFF , 503px 1141px #FFF , 838px 138px #FFF , 1608px 973px #FFF , 295px 873px #FFF , 224px 589px #FFF , 1049px 186px #FFF , 1441px 1239px #FFF , 1796px 58px #FFF , 403px 1119px #FFF , 345px 1791px #FFF , 1621px 833px #FFF , 517px 1689px #FFF , 1978px 1814px #FFF , 1760px 1898px #FFF , 1815px 125px #FFF , 812px 184px #FFF , 106px 1263px #FFF , 1483px 1333px #FFF , 56px 1653px #FFF , 1182px 1376px #FFF , 372px 813px #FFF , 1846px 1550px #FFF , 259px 733px #FFF , 90px 509px #FFF , 1887px 1967px #FFF , 798px 1685px #FFF , 695px 1832px #FFF , 1440px 1268px #FFF , 831px 512px #FFF , 1766px 1738px #FFF , 593px 1774px #FFF , 845px 1258px #FFF , 1889px 738px #FFF , 1147px 973px #FFF , 1385px 523px #FFF , 218px 1459px #FFF , 603px 1890px #FFF , 1877px 175px #FFF , 468px 1945px #FFF , 642px 207px #FFF , 136px 1099px #FFF , 1736px 869px #FFF , 1548px 631px #FFF , 653px 1760px #FFF , 872px 207px #FFF , 9px 1218px #FFF , 1651px 22px #FFF , 1402px 1154px #FFF , 404px 773px #FFF , 1519px 1124px #FFF , 1216px 63px #FFF , 1059px 1506px #FFF , 1458px 11px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
